<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="wraper">
       <div name="info">
           <ul>
                <li>Name : @ViewBag.name</li>
                <li>Dojo Location : @ViewBag.location</li>
                <li>Favorite Language : @ViewBag.language</li>
                <li>Comment : @ViewBag.comment</li>
           </ul> 

           <a href="/" >Go back</a>

       </div> 

    </div>
</body>
</html>