@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<string>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @foreach(string element in Model){
            <li>@element</li>
        }
            
        

    </ul>
    <h1>@ViewBag.p1</h1>
</div>
