<h1>Login to this Cool Site!</h1>
<a href="/">Register</a>
@model LoginUser
<form asp-action="DoLogin" asp-controller="Home" method="post">
    

    <p>
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <span asp-validation-for="Email"></span>
    </p>
    <p>
        <label asp-for="Password"></label>
        <input asp-for="Password">
        <span asp-validation-for="Password"></span> 
    </p>
    
   
    <p><button>Login</button></p>

    
</form>
<p>admin@gmail.com</p>
<p>1234567890</p>