@model List<Chef>
<h1>Chefs | <a href="/dishes">Dishes</a></h1>
<a href="/new">Add a Chef</a>
<h3>Check out our roster of Chefs!</h3>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th># of Dishes</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName  @item.LastName</td>
            <td>@item.Age</td>
            <td>@item.CreatedDishes.Count</td>
            
        </tr>
    }

    

</table>


