<h1>Add a Dish</h1>
<a href="/">Home</a>

@model Dish
 <form asp-action="AddDish" asp-controller="Home" method="post">
    <p><span asp-validation-for="DishName"></span></p> 
     <p><label asp-for="DishName"></label></p>
     <p><input asp-for="DishName"/></p>

     

     <p> <span  asp-validation-for="Calories"></span></p>
     <p># of Calories: <input  asp-for="Calories"/></p>

     <p> <span  asp-validation-for="Tastiness"></span></p>
    <p>Tastiness :<span  asp-validation-for="Tastiness"></span>
        <select asp-for="Tastiness">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        
        </select>
    </p>
    <p><label asp-for="ChefId"></label></p>
    <P><span asp-validation-for="ChefId" ></span></P>
    <p><select asp-for="ChefId">
             @foreach (var item in ViewBag.AllChefs)
                {
                    <option value="@item.ChefId">@item.FirstName  @item.LastName</option>
                }
        </select>
    </p>
   
    
    <p>
        Description :
    </p> 
     <p> <span  asp-validation-for="Description"></span></p>
    <textarea asp-for="Description" rows="4" cols="50"></textarea>

    


    <P><button>Add a new Dish</button></P>
</form>