@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@ViewBag.Display</h1>
    <div class="petHouse">
        <img src="#" tag="Dashi profile picture"/>

        <h2>@ViewBag.Log</h2>

    </div>

    <a href="/feed" class="action">Feed</a>
    <a href="/play" class="action">Play</a>
    <a href="/working" class="action">Work</a>
    <a href="/sleeping" class="action">Sleep</a>

    




</div>
