@model Survey;




 <div class="wraper">
       <div name="info">
           <ul>
                <li>Name : @Model.Name</li>
                <li>Dojo Location :  @Model.Location</li>
                <li>Favorite Language : @Model.Language</li>
                <li>Comment :  @Model.Comment</li>
           </ul> 

           <a href="/" >Go back</a>

       </div> 

    </div>