@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Random passcode (#@ViewBag.count )</h3>
    <h1>@ViewBag.Passcode</h1>
    <a href="/generate">TEST</a>
</div>
