<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>@ViewBag.a + @ViewBag.b</h2>
<form action="/method" method="post">
    <input type="text" name="TextField"/>
    <input type="number" name="NumberField"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>