@model Product
<form action="/create/product" method="post">copy
    <div class="form-group">
        <span asp-validation-for="ProductName"></span>
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName">
    </div>
    <div class="form-group">
        <span asp-validation-for="Price"></span>
        <label asp-for="Price"></label>
        <input asp-for="Price">
    </div>
    <input type="submit" value="Add Product">
</form> 